.panel {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--large-gap);
  padding-bottom: 1.5rem;
  background-color: var(--element-background-color);
  border-radius: var(--border-radius-md);
  padding: var(--medium-gap);
  box-shadow: var(--box-shadow-sm);
}

.panel:last-of-type {
  margin-bottom: 0;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  padding-bottom: 0.5rem;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  margin: 0;
}

.panel[data-columns="2"] .list {
  gap: var(--large-gap);
}

@media (min-width: 768px) {
  .panel[data-columns="2"] .list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .panel[data-columns="2"] .list > * {
    flex: 1 1 calc(50% - var(--large-gap) / 2);
  }
}
