.checkbox {
  padding: 0.5rem 1rem;
  width: unset;
}

.headingSemibold {
  font-family: var(--font-open-sans), sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.09px;
  color: rgb(41, 44, 48);
}

.checkbox:hover {
  background-color: var(--ssb-dark-color-2);
}
