.checkboxFilterItems {
  position: relative;
  padding-block: 0.5rem;
}

.checkboxFilterItems:has(.checkbox:first-child:hover)::before {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  block-size: 0.5rem;
  background-color: var(--ds-color-surface-hover);
  content: "";
  pointer-events: none;
}

.checkboxFilterItems:has(.checkbox:last-child:hover)::after {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  block-size: 0.5rem;
  background-color: var(--ds-color-surface-hover);
  border-end-start-radius: var(--ds-border-radius-lg);
  border-end-end-radius: var(--ds-border-radius-lg);
  content: "";
  pointer-events: none;
}

.checkbox {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  width: 100%;
}

.headingSemibold {
  font-family: var(--font-open-sans), sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.09px;
  color: rgb(41, 44, 48);
}

.checkbox:hover {
  background-color: var(--ds-color-surface-hover);
}
