.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--fds-spacing-4);
}

.searchHits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-4);
}

.searchFieldWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: var(--fds-spacing-4);
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-4);
}

.select {
  width: fit-content;
}

.greyFont {
  color: #6c737a;
}

.chips {
  margin: var(--fds-spacing-6) 0;
}

.searchContainer {
  max-width: 100%;
  width: 100%;
}
