.tagsList {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.closeButton {
  background-color: var(--dsc-tag-background);
  color: var(--text-color-primary);
}

.closeAllTag,
.closeAllButton {
  background-color: var(--dark-blue-color);
  color: white;
  font-weight: 700;
  padding: 0 1rem;
  font-size: 1.1rem;
}
