.tableContainer {
  background-color: var(--element-background-color);
  padding: 2rem;
  color: var(--main-font-color);
}
.detailsTable {
  width: 100%;
}

.tableBody {
  width: 100%;
}

.headerCell {
  width: 60%;
  padding: 1rem;
}
.contentCell {
  text-align: left;
  padding: 1rem;
}
.tableHeading {
  font-weight: 300;
}
