.tableContainer {
  background-color: var(--element-background-color);
  padding: 0.5rem;
  color: var(--main-font-color);
}
.detailsTable {
  width: 100%;
  color: var(--main-font-color);
  table-layout: fixed;
}

.tableBody {
  width: 100%;
}

.contentCell {
  text-align: left;
  padding: 0.5rem;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
}
.headerCell,
.headerCellPopover {
  text-align: left;
  padding: 0.5rem;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
}
.headerCellPopover {
  display: flex;
  align-items: center;
}

@media (min-width: 468px) {
  .headerCell,
  .contentCell,
  .headerCellPopover {
    padding: 1rem;
  }
  .tableContainer {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .tableContainer {
    padding: 2rem;
  }
}
