.mainContent {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.detailsPage {
  width: 100%;
  margin-bottom: var(--ds-size-4);
}

.definition {
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  text-align: left;
  text-wrap: initial;
  word-break: auto-phrase;
  text-wrap: wrap;
  overflow-wrap: break-word;
  hyphens: auto;
}

.owner {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: column;
}
