.field {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field dd {
  margin: 0;
}

.label {
  font-size: .85rem;
  font-weight: 500;
  color: #6b7280;
  text-transform: uppercase;
}

.value {
  font-size: 1.5rem;
  color: #111827;
  line-height: 1.5;
  font-weight: 500;
}
