.fieldSection {
  margin-bottom: 3rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #ddd;
}

.fieldSection:last-of-type {
  border-bottom: none;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.sectionIcon {
  font-size: 1.25rem;
}

.sectionTitle {
  padding-bottom: 1rem;
}

.gridTwoCol {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.gridTwoCol > * {
  flex: 1 1 100%;
  min-width: 200px;
}

@media (min-width: 768px) {
  .gridTwoCol > * {
    flex: 1 1 calc(50% - 0.75rem);
  }
}
