.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #ddd;
}

.section:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.sectionTitle {
  padding: 1rem;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.gridTwoCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 1.5rem;
}

.gridTwoCol > * {
  flex: 1 1 100%;
  min-width: 200px;
}

@media (min-width: 768px) {
  .gridTwoCol > * {
    flex: 1 1 calc(50% - 0.75rem);
  }
}
