.section {
  display: flex;
  flex-direction: column;
  gap: var(--large-gap);
  margin-bottom: var(--large-gap);
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--border-color);
}

.section:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.sectionTitle {
  padding-bottom: 0;
  margin-bottom: -1rem;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  background-color: var(--element-background-color);
  border-radius: var(--border-radius-md);
  border: none;
  padding: var(--medium-gap);
  box-shadow: var(--box-shadow-sm);
  margin: 0;
}

.gridTwoCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--large-gap) 1.5rem;
}

.gridTwoCol > * {
  flex: 1 1 100%;
  min-width: 200px;
}

@media (min-width: 768px) {
  .gridTwoCol > * {
    flex: 1 1 calc(50% - 0.75rem);
  }
}
