.copyText {
  font-family: var(--font-family-monospace);
  --dsc-tag-padding: 0;
  --dsc-tag-background: var(--ds-color-magic-surface-tinted);
  --dsc-tag-border-color: var(--ds-color-magic-surface-tinted);
  --dsc-tag-color: var(--ds-color-magic-text-default);
  align-items: stretch !important;
  width: fit-content;
  max-width: 100%;
}

.copyWrapper {
  display: flex;
  align-items: stretch;
  gap: 0;
}

.copyLabel {
  padding: 0 var(--ds-size-2);
  display: flex;
  align-items: center;
}

.copyText .copyTextButton {
  --dsc-button-background: none;
  --dsc-button-background--hover: var(--ds-color-magic-surface-active);
  --dsc-button-background--active: var(--ds-color-magic-surface-active);
  --dsc-button-border-color: transparent;
  --dsc-button-color: var(--ds-color-magic-text-default);
  --dsc-button-color--hover: var(--ds-color-magic-text-default);
  --dsc-button-color--active: var(--ds-color-magic-text-default);
  --dsc-button-padding: 0 var(--ds-size-2);
  --dsc-button-size: auto;

  color: var(--main-font-color);
  align-self: stretch;
  margin: -1px -1px -1px 0;
  box-shadow: none;
  border-radius: 0 var(--ds-border-radius-sm) var(--ds-border-radius-sm) 0;
  min-width: unset;
  height: auto;
}
