.filterHeader {
  background-color: var(--ds-color-surface-tinted);
  width: 100%;
}

.filterCard {
  padding: 0 0;
}

.toggleFilter {
  background-color: var(--ds-color-surface-tinted);
  width: 100%;
  justify-content: space-between;
  color: black;
  font-weight: 700;
}

.hidden {
  padding-bottom: 0;
}

.chevronUpDown {
  color: var(--text-color-primary);
  font-size: 2rem;
  margin-left: 0.5rem;
}

.filterItems {
  padding: 0.5rem 0.5rem;
}
