.filterHeader {
  background-color: var(--ds-color-surface-tinted);
  color: black;
  font-weight: 700;
}

.filterCard {
  padding: 0 0;
}

.toggleFilter {
  background-color: var(--ds-color-surface-tinted);
  width: 100%;
  justify-content: space-between;
}

.hidden {
  padding-bottom: 0;
}

.chevronUpDown {
  color: var(--text-color-primary);
  font-size: 2rem;
  margin-left: 0.5rem;
}

.filterItems {
  padding: 0.5rem 0.5rem;
}

.searchScope {
  --ds-focus-outline-color: transparent;
  --ds-focus-outline-width: 0;

  /* replacement focus style */
  --ds-focus-ring-color: rgba(34, 197, 94, 0.4);
  --ds-focus-ring-width: 3px;
}
