.detailsPage {
  width: 100%;
  padding: var(--medium-gap);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.contentGrid {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--large-gap);
  margin-bottom: var(--large-gap);
  padding-bottom: 1.5rem;
}

.mainColumn {
  flex: 1;
  min-width: 0;
}

.sidebar {
  flex: 1;
  padding-top: var(--large-gap);
}

.detailsPageHeader,
.headerInfoText,
.heroTitle,
.heroRow {
  display: flex;
  align-items: center;
}

.headerText {
  font-size: 3rem;
}

.detailsPageHeader {
  justify-content: space-between;
  gap: var(--medium-gap);
  margin-bottom: 3rem;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.headerInfoText {
  gap: 0.75rem;
}

.separator {
  width: 1px;
  height: 1.25rem;
  background-color: var(--separator-color);
}

.heroTitle {
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.heroRow {
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5rem;
}

.hero h1 {
  font-size: 2.25rem;
}

/* Desktop */
@media (min-width: 968px) {
  .detailsPage {
    padding: 0;
  }

  .contentGrid {
    flex-direction: row;
    gap: var(--large-gap);
  }

  .mainColumn {
    padding-right: var(--large-gap);
  }

  .sidebar {
    flex: 0 0 auto;
    position: sticky;
    top: var(--large-gap);
    border-top: none;
    padding-top: 0;
  }
}
