.header {
  padding: 1rem 1rem 0 2rem;
  margin-bottom: 1rem;
}

/*
.codeWrapper {
  position: relative;
  overflow: hidden;
  container-type: inline-size;
}
*/
.copyCodeButton {
  position: absolute;
  right: 3rem;
  z-index: 1;
  color: var(--main-font-color);
}
.pre {
  background-color: #f8f8f8 !important;
}

.pre code {
  font-size: clamp(0.7rem, 1.6vw, 0.95rem);
}

.pre,
.pre code,
.pre span {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.linkFooter {
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}
