.header {
  padding: 1rem 1rem 0 2rem;
  margin-bottom: 1rem;
}

.helpText {
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.linkFooter {
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.codeWrapper {
  position: relative;
}

.copyCodeButton {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 2;
  color: var(--main-font-color);
}
.linkButton {
  border: 1px solid #005db1;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: #005db1;
  font-weight: var(--ds-font-weight-medium);
}
@media (min-width: 530px) {
  .copyCodeButton {
    top: 2rem;
  }
}
