.appTitle {
  font-family: var(--font-roboto-condensed), sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
}

.logo {
  width: 180px;
  height: auto;
}

.verticalDivider {
  height: var(--font-size-2xl);
  border-left: 1px solid;
}

.logoAndTitle {
  column-gap: var(--small-gap);
  color: var(--ssb-dark-color-5);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 360px) {
  .appTitle {
    font-size: 24px;
  }
  .logoAndTitle {
    column-gap: var(--medium-gap);
  }
}

@media (min-width: 768px) {
  .appTitle {
    font-size: 28px;
  }
  .logo {
    width: 248px;
    height: auto;
  }
}
