.iconImage {
  margin-right: 1rem;
}
.infoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  margin: var(--medium-gap);
  font-size: larger;
}

@media (min-width: 768px) {
  .infoSection {
    margin: var(--medium-gap) var(--extra-large-gap);
  }
}
