.infoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--medium-gap);
  padding-top: var(--medium-gap);
  padding-bottom: var(--medium-gap);
}

@media (min-width: 768px) {
  .infoSection {
    margin: var(--medium-gap) var(--large-gap);
  }
}
