.searchPageWrapper {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: var(--medium-gap);
  background-color: var(--ssb-dark-color-5);
  -webkit-box-align: center;
  background-repeat: no-repeat;
  background-position: right top;
  justify-items: center;
  justify-content: space-between;
  gap: var(--medium-gap);
}

.searchFieldContent {
  margin-top: var(--medium-gap);
  overflow-x: hidden;
}

.tabsNavigationContainer {
  width: 100%;
  overflow-x: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tabsNavigation {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: relative;
  overflow: hidden;
  color: white;
  width: fit-content;
  padding: 0.5rem 1.25rem;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  white-space: nowrap;
  font-size: small;
}

.searchLabel {
  color: white;
}

@media (min-width: 400px) {
  .tab {
    font-size: medium;
  }
}
@media (min-width: 768px) {
  .tabsNavigation {
    flex-direction: row;
  }
  .tabsNavigationContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .tab {
    margin: 0;
  }

  #searchValue.ds-input {
    margin: 0;
    min-width: 80%;
  }
  .searchFieldContent {
    margin-top: var(--large-gap);
  }
}
