.tabsContainer {
  flex: 1 0 auto;
}
.tabsNavigationContainer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tabsNavigation {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.tab {
  font-size: 1rem;
  margin: 0;
}

.searchLabel {
  color: white;
}

@media (min-width: 768px) {
  .tab {
    font-size: 1.3rem;
  }
  .tabsNavigation {
    flex-direction: row;
  }
  .tabsNavigationContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #searchValue.ds-input {
    margin: 0;
    min-width: 80%;
  }
  .searchFieldContent {
    margin-top: var(--large-gap);
  }
}
