.headingLink {
  /* No underline on the link*/
  text-decoration: none;
}

/* Multi-line text clamp.
  Uses -webkit-line-clamp because this 3-property combo is
   the only fully supported way to truncate text over multiple lines. */
.truncateTo3Lines {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1rem;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--small-gap);
}

.shortName {
  font-family: var(--font-family-monospace);
}
