.shortNameText {
  font-family: var(--font-family-monospace);
  --dsc-tag-padding: 0 !important;
  padding: 0 !important;
  align-items: stretch !important;
}

.shortNameWrapper {
  display: flex;
  align-items: stretch;
  gap: 0;
}

.shortNameLabel {
  padding: 0 var(--ds-size-2);
  display: flex;
  align-items: center;
}

.copyShortNameButton {
  color: var(--main-font-color);
  align-self: stretch;
  padding: 0 var(--ds-size-2) !important;
  margin: -1px -1px -1px 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 var(--ds-border-radius-sm) var(--ds-border-radius-sm) 0 !important;
  width: unset !important;
  min-width: unset !important;
  min-height: unset !important;
  height: auto !important;
}

.copyShortNameButton:hover {
  background-color: var(--ds-color-success-surface-hover) !important;
}

.copyShortNameButton svg {
  width: 1em;
  height: 1em;
  display: block;
}
