.detailsPage {
  width: 100%;
  margin-bottom: var(--ds-size-4);
  margin-top: 1rem;
}

.mainContent {
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.detailsHeading {
  overflow-wrap: break-word;
}

.definition {
  line-height: 1.5;
  text-align: left;
  word-break: auto-phrase;
  text-wrap: wrap;
  overflow-wrap: break-word;
  hyphens: auto;
}

/* Styling groups.tsx*/
.owner {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: column;
}

.ownerLabel {
  font-weight: 500;
}

.ownerValue {
  margin-left: 0.5rem;
}

.popoverBlock {
  display: inline-flex;
}

.labelWithPopover {
  display: flex;
}
