.wrapper {
  display: grid;
  gap: 1rem;
}

.versionsWrapper {
  max-width: 100%;
}

.searchScope {
  max-width: 30rem;
}

.tabsPanel {
  --dsc-tabs-content-padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tabList {
  flex-wrap: wrap;
}

.detailsHeading {
  overflow-wrap: break-word;
}

.aboutWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 400px) {
  .tabsPanel {
    --dsc-tabs-content-padding: var(--dsc-tabs-tab-padding);
  }
}
.table {
  background-color: var(--element-background-color);
  --dsc-table-padding: var(--ds-size-1) var(--ds-size-2);
  word-break: break-all;
  font-size: var(--ds-font-size-sm);
}

@media (min-width: 400px) {
  .table {
    font-size: var(--ds-font-size-md);
    word-break: normal;
  }
}

@media (min-width: 768px) {
  .table {
    --dsc-table-padding: var(--ds-size-2) var(--ds-size-3);
  }
}

.tableHeader {
  border-bottom: var(--ds-border-width-default) solid var(--ssb-dark-color-2);
  background: var(--ds-color-neutral-surface-tinted);
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--ds-color-neutral-text-subtle);
  gap: 1.5rem;
}

.tableCodeLabel {
  font-family: var(--font-family-monospace);
  font-weight: 600;
  flex: 0 0 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--ds-color-neutral-text-default);
}

.tableNameLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 1;
}

.tableCentralDivider {
  border-right: var(--ds-border-width-default) solid var(--ssb-dark-color-2);
}
