
.ds-search{
    --dsc-search-padding-inline: 2rem;
    max-width: 95%;
    margin: 0 auto;
}

.searchBox {
  position: relative;
}

.searchField{
  background-color: #FFFF;
}

.searchActions {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  display: flex;
  gap: var(--fds-spacing-2);
}

.searchButton {
  font-size: medium;

  title + circle {
    display: none;
  }
}

.searchIcon {
  transform: scale(1.25);
  margin-right: 0.25rem;
}

.inputTextfield {
  position: relative;
  gap: 1rem;

  input {
    font-size: 1.25rem;
  }

  > label + div + div {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

#selectSearchOption.ds-input{
  height: 90%;
}

@media (min-width: 768px) {
  .ds-search{
    margin: 0;
    max-width: 80%;
}
}

