.detailsHeading {
  display: flex;
  align-items: center;
  gap: var(--small-gap);
  margin-bottom: 2rem;
  font-size: var(--font-size-lg);
}

/*

  --font-size-sm: 0.85rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xlg: 1.5rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;

  */

.grid {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.row {
  display: flex;
  gap: var(--ds-size-4, 1rem);
  align-items: stretch;
}

.column {
  flex: 1 1 12rem;
  margin: 0;
}

.column dt {
  margin: 0;
}

.column dd {
  margin: 0;
}

.key {
  font-weight: var(--font-weight-heavy);
  flex: 1 1 100%;
  min-width: 0;
}

.value {
  flex: 1 1 100%;
  margin: 0;
}

.arrowIcon {
  font-size: var(--font-size-lg);
}

@media (min-width: 768px) {
  .column {
    gap: 0;
  }
  .key {
    flex: 1 1 40%;
    margin-bottom: 1rem;
  }

  .value {
    flex: 1 1 60%;
  }
}

@media (min-width: 848px) {
  .detailsHeading {
    font-size: var(--font-size-xlg);
  }
  .arrowIcon {
    font-size: var(--font-size-xlg);
  }
}
