.detailsHeading {
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.row {
  display: flex;
  gap: var(--ds-size-4, 1rem);
  align-items: stretch;
}

.column {
  flex: 1 1 12rem;
  margin: 0;
}

.column dt {
  margin: 0;
}

.column dd {
  margin: 0;
}

.key {
  font-weight: var(--font-weight-heavy);
  flex: 1 1 100%;
  min-width: 0;
}

.value {
  flex: 1 1 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .column {
    gap: 0;
  }
  .key {
    flex: 1 1 40%;
    margin-bottom: 1rem;
  }

  .value {
    flex: 1 1 60%;
  }
}
