.searchPageWrapper {
  display: flex;
  flex-flow: column;
  margin-bottom: var(--medium-gap);
  background-color: var(--dark-blue-gray-color);
  -webkit-box-align: center;
  background-repeat: no-repeat;
  background-position: right top;
  justify-items: center;
  min-height: 150px;
  justify-content: space-between;
  gap: var(--medium-gap);
}

.searchFieldContent {
  margin-top: var(--large-gap);
  width: 100%;
}

#searchValue.ds-input {
  --dsc-search-padding-inline: var(--large-gap);
  --dsc-input-color: green;
}
.metadataContainer {
  margin-top: var(--medium-gap);
  background-color: var(--background-color);
}

.tabsNavigationContainer {
  width: 100%;
}

.tabs {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 0;
}

.tabsNavigation {
  display: flex;
  flex-direction: column;
  margin: var(--center-element-no-top);
}

.tab {
  -webkit-box-pack: center;
  justify-content: center;
  list-style-type: none;
  position: relative;
  overflow: hidden;
  color: #e6eff8;
  width: 95%;
  margin: var(--center-element-no-top);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab[aria-selected="true"] {
  background-color: var(--light-light-blue-color);
  color: var(--main-font-color);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  padding: var(--fds-spacing-6);
  overflow-wrap: break-word;
  margin: var(--center-element-no-top);
  margin-bottom: var(--ds-size-4);
}

.infoSection {
  width: 100%;
}

.filterSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.mainSection {
  width: 100%;
  min-height: 200px;
  margin-top: var(--medium-gap);
}

@media (min-width: 768px) {
  .searchHitsContainer {
    display: flex;
    gap: var(--large-gap);
  }

  .filterSection {
    flex: 0 0 250px;
    margin-top: 4.5rem;
  }
  .mainSection {
    flex: 1 1 0;
  }

  .tabsNavigation {
    flex-direction: row;
    max-width: 100%;
  }

  .tab {
    width: 200px;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .tabsContent {
    margin: 0;
    padding: 0;
  }
  .searchFieldContent {
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .tabsContent {
    margin: 0;
  }
}
