.filterHeader {
  background-color: var(--ds-color-surface-tinted);
  color: black;
  font-weight: 700;
}

.filterCard {
  padding: 0 0 1rem 0;
}

.checkbox {
  padding: 0.5rem 1rem;
}

.toggleFilter {
  background-color: var(--ds-color-surface-tinted);
  width: 100%;
  justify-content: space-between;
}

.hidden {
  padding-bottom: 0;
}

.chevronUpDown {
  color: var(--text-color-primary);
  font-size: 2rem;
  margin-left: 0.5rem;
}
