/* This is a global stylesheet */

@import url("@digdir/designsystemet-css");
@import url("@digdir/designsystemet-css/theme");

@layer reset, ds;

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --breakpoint-width-sm: 768px;
  --breakpoint-width-md: 992px;
  --breakpoint-width-lg: 1400px;
  --breakpoint-width-xl: 1900px;

  --app-min-width: 360px;
  --center-element-no-top: 0 auto;
  --center-element-top: 1rem auto;
  --small-gap: 0.5rem;
  --medium-gap: 1rem;
  --large-gap: 2rem;

  /* Ref: https://design.ssb.no/#/components/color */
  --ssb-dark-color-1: #f0f8f9;
  --ssb-dark-color-2: #c3dcdc;
  --ssb-dark-color-5: #274247;
  --ssb-dark-color-6: #162327;
  --ssb-purple-2: #d2ceff;
  --ssb-green-2: #b6e8b8;

  --lighter-shade-of-ssb-5: #386067;

  --blue-color: #335380;
  --dark-blue-color: #1e2b3c;
  --main-background-color: #f0f8f9;
  --shadow-color: #969ba0;
  --element-background-color: #fff;
  --main-font-color: #000;

  --text-color-primary: #111827;
  --text-color-secondary: #4f525f;
  --border-color: #ddd;
  --separator-color: #d1d5db;

  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.5rem;
  --box-shadow-sm: 0 0 0.5rem rgba(0, 0, 0, 0.1);

  --font-open-sans: var(--font-open-sans);
  --font-roboto: var(--font-roboto);
  --font-roboto-condensed: var(--font-roboto-condensed);

  --font-size-sm: 0.85rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xlg: 1.5rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;

  --font-family-monospace:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --font-weight-medium: 500;
  --font-weight-heavy: 700;
  --search-hit-shortname-color: #666666;

  --status-draft: #faebd7;
  --status-published-internal: var(--ssb-purple-2);
  --status-published-external: var(--ssb-green-2);
}

html * {
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-open-sans), var(--font-roboto), var(--font-roboto-condensed), sans-serif;
}

body {
  line-height: inherit;
  background-color: var(--element-background-color);
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

.rootContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  background-color: var(--ssb-dark-color-1);
}

.grow {
  flex-grow: 1;
}

/* Global container styles intended mainly for large elements.
  Provides consistent alignment and responsive behavior. */
.container {
  width: 100%;
  max-width: 1400px;
  margin: var(--center-element-no-top);
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

select#sortVariables.ds-input {
  padding: 0.5rem;
  border-radius: 5px;
  border-color: var(--ssb-dark-color-2);
  width: 200px;
  max-width: 100%;
}

/* Global overrides for selected Design System components */
.ds-tabs {
  --dsc-tabs-tab-padding: var(--ds-size-3) var(--ds-size-5);
  --dsc-tabs-tab-color: var(--ds-color-neutral-text-subtle);
  --dsc-tabs-tab-color--hover: var(--ssb-dark-color-2);
  --dsc-tabs-tab-color--selected: var(--main-background-color);
  --dsc-tabs-content-padding: var(--ds-size-4) var(--ds-size-5);
  --dsc-tabs-list-border-color: none;
  --dsc-tabs-list-border-bottom-width: none;
  --dsc-tabs-list-border-bottom-style: none;
  outline: none;
}

.ds-tabs::after {
  --dsc-tabs-tab-color: var(--main-background-color);
}
.ds-tabs:focus {
  outline: none;
}

div.ds-card {
  border-color: var(--ssb-dark-color-2);
}

.ds-input:checked {
  background-color: var(--ssb-dark-color-5);
  --dsc-input-accent-color: var(--ssb-dark-color-5);
}

/** Text styles based on https://design.ssb.no/#/components/typography-page

We don't set font-size for the headings, this can be controlled using the
level prop on the Heading component from Designsystemet
*/

:is(h1, h1.ds-heading, h2, h2.ds-heading, .heading12) {
  font-family: var(--font-roboto-condensed), sans-serif;
  font-weight: var(--font-weight-heavy);
  color: var(--ssb-dark-color-6);
}

:is(h3, h3.ds-heading, h4, h4.ds-heading, h5, h5.ds-heading, .heading345) {
  font-family: var(--font-roboto), sans-serif;
  font-weight: var(--font-weight-heavy);
  color: var(--ssb-dark-color-6);
}

p {
  font-family: var(--font-open-sans), sans-serif;
  font-size: var(--font-size-md);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--ssb-dark-color-6);
}

/** Ingress is used to draw attention to a limited amount of introductory text. */
.ingress {
  font-size: var(--font-size-lg);
  line-height: 2rem;
}

/** SSBs design system specifies the use of Roboto to distinguish interactive elements */
button {
  font-family: var(--font-roboto), sans-serif;
}

.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}

.infoAlert {
  width: 100%;
  --dsc-alert-padding-block: var(--ds-size-4);
}

@media (min-width: 768px) {
  select#sortVariables.ds-input {
    width: 300px;
    max-width: 100%;
  }
}
