/* This is a global stylesheet */

@import url("@digdir/designsystemet-css");
@import url("@digdir/designsystemet-theme/digdir.css");

@layer reset, ds;

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --breakpoint-width-sm: 768px;
  --breakpoint-width-md: 992px;
  --breakpoint-width-lg: 1400px;
  --breakpoint-width-xl: 1900px;

  --app-min-width: 360px;
  --center-element-no-top: 0 auto;
  --center-element-top: 1rem auto;
  --medium-gap: 1rem;
  --large-gap: 2rem;

  --blue-color: #335380;
  --dark-blue-color: #1e2b3c;
  --main-background-color: #fafafa;
  --shadow-color: #969ba0;
  --element-background-color: #fff;
  --light-light-blue-color: #e6eff8;
  --dark-blue-gray-color: #2d3741;
  --main-font-color: #000;

  --text-color-primary: #111827;
  --text-color-secondary: #6b7280;
  --border-color: #ddd;
  --separator-color: #d1d5db;

  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.5rem;
  --box-shadow-sm: 0 0 0.5rem rgba(0, 0, 0, 0.1);

  --font-size-sm: 0.85rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xlg: 1.5rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;

  --font-weight-medium: 500;
  --search-hit-shortname-color: #666666;

  --search-card-border-color: #c3dcdc;
}

html * {
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: inherit;
  line-height: inherit;
  height: 100%;
  background-color: var(--main-background-color);
  padding: 0;
  margin: 0;
}

.rootContainer {
  width: 100%;
  margin: 0;
}

.grow {
  flex-grow: 1;
}

/* Global container styles intended mainly for large elements.
  Provides consistent alignment and responsive behavior. */
.container {
  width: 100%;
  max-width: 1400px;
  margin: var(--center-element-no-top);
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

select#sortVariables.ds-input {
  padding: 0.5rem;
  border-radius: 5px;
  border-color: #c3dcdc;
}

/* Global overrides for selected Design System components */
div.ds-card {
  border-color: #c3dcdc;
}

.infoAlert {
  width: 100%;
  min-width: var(--app-min-width);
  --dsc-alert-padding-block: var(--ds-size-4);
}
