/* This is a global stylesheet */

@layer reset, fds;

@import url('@digdir/designsystemet-css');
/*@import url('./reset.css');*/
@import url('@digdir/designsystemet-theme');


:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html * {
  font-display: swap;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

body {
  font-family: inherit;
  line-height: inherit;
  height: 100%;
  background-color: #fafafa;
  padding: 0;
  margin:0;
}

.rootContainer{
  width: 100%;
  margin: 0;
}
.container,
.formContainer {
  width: 100%;
}

.grow {
  flex-grow: 1;
}

#searchId.ds-search{
    --dsc-search-padding-inline: 2rem;
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  #searchId.ds-search{
        margin: 0;
        width: 80%;
    }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 24px;
}

.hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}


