.background {
  background: linear-gradient(rgba(240, 248, 249, 0.7), rgba(240, 248, 249, 0.7)), url("/magnifying-glass-dark-2.svg");
  background-origin: content-box;
  background-position: right 5% top 38%;
  background-size: auto 650px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.pageContainer {
  padding-top: 1rem;
}
.headerCard {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--ssb-dark-color-2);
  max-width: 768px;
  width: 100%;
}

.pageHeader {
  padding: 1rem 0.5rem;
}

.pageTitle {
  margin-bottom: 0.5rem;
  background-color: var(--ssb-dark-color-2);
  background-color: var(--ssb-dark-color-2);
  padding: 0 1rem;
}

.subTitle {
  margin-bottom: 1rem;
  background-color: var(--ssb-dark-color-2);
  background-color: var(--ssb-dark-color-2);
  padding: 0 1rem;
  font-size: var(--ds-heading-sm-font-size);
  font-weight: 500 !important;
}

.infoDetails {
  padding: 0 1rem;
}

.infoCard {
  background-color: white;
  max-width: 800px;
  width: 100%;
  margin-bottom: 1rem;
}

.pageNavigation {
  margin-bottom: 2rem;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) {
  .pageTitle {
    font-size: var(--ds-heading-xl-font-size);
  }
}
@media (min-width: 768px) {
  .pageTitle {
    font-size: var(--ds-heading-2xl-font-size);
    padding-left: 1rem;
  }
  .subTitle {
    padding-left: 1rem;
  }
  .headerCard {
    max-width: 930px;
    width: 100%;
  }
  .pageHeader {
    padding: 1rem;
  }
  .pageContainer {
    padding-top: 3rem;
  }
  .mainContainer {
    padding-top: 2rem;
  }
}
