/*TODO: check all class names - remove unused css*/
.pageContainer {
  /*max-width: 100%;*/
  padding: 1rem;
  min-height: 66vh;
  margin-top: 1rem;
}

.background {
  background-color: var(--ssb-dark-color-1);
}

.landingPageContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: var(--medium-gap);
  flex-wrap: wrap;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--ssb-dark-color-5);
  background-color: var(--ssb-dark-color-2);
  background: linear-gradient(rgba(195, 220, 220, 0.95), rgba(195, 220, 220, 0.95));
}

.paragraph {
  font-family: "Open Sans", sans-serif;
}

.infoCards {
  background-color: white;
  max-width: 800px;
  width: 100%;
  margin-bottom: 1rem;
}

.header {
  /*max-width: 100%;*/
  padding: 1rem;
}

.subTitle {
  color: var(--ssb-dark-color-5);
  font-family: "Roboto";
  margin-bottom: 1rem;
  font-weight: 600;
}

.ingress {
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
}

.details {
  margin-bottom: 1rem;
}
.headerCard {
  margin-bottom: 2rem;
}

.dsc-details-size {
  font-size: 1.2rem;
}

.subTitle {
  color: var(--ssb-dark-color-5);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgba(195, 220, 220, 0.8), rgba(195, 220, 220, 0.8));
}
div.ds-card {
  border-color: var(--ssb-dark-color-5) !important;
}

.headerCard {
  background-color: var(--ssb-dark-color-2);
}

.customDivider {
  --dsc-divider-border-width: 4px;
  --dsc-divider-border-color: var(--ssb-dark-color-2);
}
.header {
  background: linear-gradient(rgba(195, 220, 220, 0.6), rgba(195, 220, 220, 0.6)), url("/Artboard 160.svg");
  background-repeat: no-repeat;
  background-position: right;
}

@media (min-width: 768px) {
  .title {
    font-size: var(--ds-heading-2xl-font-size);
    background-color: var(--ssb-dark-color-2);
    background: linear-gradient(rgba(195, 220, 220, 0.8), rgba(195, 220, 220, 0.8));
    padding-left: 1rem;
  }
  .subTitle {
    font-size: var(--ds-body-xl-font-size);
    padding-left: 1rem;
  }

  .header {
    background: linear-gradient(rgba(195, 220, 220, 0.5), rgba(195, 220, 220, 0.5)), url("/Artboard 160.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .infoDetails {
    padding-left: 1rem;
  }
}

@media (min-width: 1200px) {
  .header {
    background: linear-gradient(rgba(195, 220, 220, 0.5), rgba(195, 220, 220, 0.5)), url("/Artboard 160.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
