#menu {
  max-height: 300px;
  overflow-y: auto;
}

/* Tone down visibility until pages are ready for use*/
#classificationsTab,
#dataProductsTab {
  filter: opacity(60%);
}

@media (min-width: 768px) {
  #menu {
    max-height: none;
    overflow-y: visible;
  }
}
