.pageContainer {
  min-height: 66vh;
  margin-top: 2rem;
  background: linear-gradient(rgba(240, 248, 249, 0.6), rgba(240, 248, 249, 0.6)), url("/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.headerCard {
  margin-bottom: 2rem;
  background-color: var(--ssb-dark-color-2);
}

.pageHeader {
  padding: 1rem;
}

.pageTitle {
  margin-bottom: 0.5rem;
  background-color: var(--ssb-dark-color-2);
  padding: 0 1rem;
}

.subTitle {
  margin-bottom: 1rem;
  background-color: var(--ssb-dark-color-2);
  padding: 0 1rem;
}

.infoDetails {
  padding: 0 1rem;
}

.infoCard {
  background-color: white;
  max-width: 800px;
  width: 100%;
  margin-bottom: 1rem;
}

.customDivider {
  --dsc-divider-border-width: 4px;
  --dsc-divider-border-color: var(--ssb-dark-color-2);
}

.pageNavigation {
  margin-top: 2rem;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

@media (min-width: 768px) {
  /*.pageHeader {
    background: linear-gradient(rgba(195, 220, 220, 0.5), rgba(195, 220, 220, 0.5)), url("/magnifying-glass.svg");
    background-repeat: no-repeat;
    background-position: right;
  }*/
  .pageTitle {
    font-size: var(--ds-heading-2xl-font-size);
    padding-left: 1rem;
  }
  .subTitle {
    font-size: var(--ds-body-xl-font-size);
    padding-left: 1rem;
  }
}

@media (min-width: 768px) {
  .pageTitle {
    font-size: var(--ds-heading-2xl-font-size);
    padding-left: 1rem;
  }
  .subTitle {
    padding-left: 1rem;
  }
}
