/*.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}*/

/*?*/
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: var(--app-min-width);
}

.infoAlert {
  width: 100%;
  min-width: var(--app-min-width);
  --dsc-alert-padding-block: var(--ds-size-4);
}
