.header {
  border-bottom: 1px solid rgb(230, 230, 230);
  box-shadow: var(--shadow-color) 0px 0px 10px -5px;
  padding: var(--medium-gap) 0;
  background-color: var(--element-background-color);
  height: var(--extra-large-gap);
  display: flex;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.appTitle {
  font-family: var(--font-roboto-condensed), sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
  color: var(--ssb-dark-color-5);
}

.verticalDivider {
  height: var(--font-size-2xl);
  border-left: 1px solid var(--ssb-dark-color-5);
}

.rightGroup {
  margin-left: auto;
}
.environmentName {
  font-weight: var(--font-weight-heavy);
  color: #ad0000;
  text-decoration: none;
}

.logo {
  width: 180px;
  height: auto;
}

.logoAndTitle {
  column-gap: var(--small-gap);
  color: var(--ssb-dark-color-5);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 360px) {
  .appTitle {
    font-size: 24px;
  }
  .logoAndTitle {
    column-gap: var(--medium-gap);
  }
}

@media (min-width: 768px) {
  .appTitle {
    font-size: 28px;
  }
  .logo {
    width: 240px;
    height: auto;
  }
}
