.header {
  border-bottom: 1px solid rgb(230, 230, 230);
  box-shadow: var(--shadow-color) 0px 0px 10px -5px;
  padding: var(--medium-gap) 0;
  background-color: var(--element-background-color);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.appTitle {
  font-family:
    Roboto Condensed,
    sans-serif !important;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
  color: var(--ssb-dark-color-5);
}

.verticalDivider {
  height: var(--font-size-2xl);
  border-left: 1px solid var(--ssb-dark-color-5);
}

.rightGroup {
  margin-left: auto;
}
.environmentName {
  font-weight: var(--font-weight-heavy);
  color: #ad0000;
  text-decoration: none;
}

.logoAndTitle {
  column-gap: var(--medium-gap);
  color: var(--ssb-dark-color-5);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
