.detailPageHeader{
    width: 100%;

    & h2 {
        font-size: 2rem;
    }
}

.detailPageContainer {
    margin: 1rem;
}
.detailPageContent{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 768px) {
    .detailPageContainer  {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
    }
}