
.detailPageContainer{
    display: flex;
    flex-direction: column;
    padding: var(--fds-spacing-4);
}
.detailPageHeader{
    width: 100%;
    & h2 {
        font-size: 2rem;
    }
}

.detailPageContent{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 768px) {
    .detailPageContainer  {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}