.detailsPage {
  width: 100%;
  flex: 1;
  min-height: 55vh;
}

.ds-heading {
  font-size: var(--font-size-lg);
}

.detailsPageHeader {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.classificationsDetail {
  flex: 1;
}
