.searchFilter {
  display: flex;
  padding: 1px;
  border-radius: 4px;
  height: fit-content;
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  flex-grow: 1;
}
