.footer {
  min-height: 200px;
  padding: var(--medium-gap) var(--extra-large-gap);
  background-color: var(--element-background-color);
  color: var(--main-font-color);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--extra-large-gap);
}

.footerLinkSection {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.footerLinkItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 60px;
}
@media (min-width: 768px) {
}
