.footer {
  min-height: 200px;
  padding: var(--medium-gap);
  background-color: var(--ssb-dark-color-5);
  color: white;
  gap: var(--large-gap);
}

.footerTopRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerMiddleRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerLinkSection {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.footerLinkItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.negativeLink {
  color: var(--ssb-green-2);
}

.icon {
  width: 60px;
}

@media (min-width: 768px) {
  :is(.footerTopRow, .footerMiddleRow) {
    flex-direction: row;
    gap: var(--extra-large-gap);
    padding: var(--medium-gap) var(--extra-large-gap);
  }
}
