.footerWrapper {
  background-color: var(--ssb-dark-color-5);
  width: 100%;
}
.footer {
  height: auto;
  background-color: var(--ssb-dark-color-5);
  padding: var(--medium-gap) var(--large-gap);
  color: white;
  gap: var(--medium-gap);
  display: flex;
  flex-direction: column;
}

.footerTopRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--large-gap);
}

.footerMiddleRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--large-gap);
}

.footerLinkSection {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.negativeLink {
  color: var(--ssb-green-2);
}
.divider {
  margin: 0;
  width: unset;
}
@media (min-width: 768px) {
  :is(.footerTopRow, .footerMiddleRow) {
    flex-direction: row;
    padding: var(--medium-gap) 0;
  }
  .footer {
    flex-wrap: wrap;
  }
}


@media (min-width: 1400px) {
  :is(.footerTopRow, .footerMiddleRow) {
    gap: var(--extra-large-gap);
  }
}
