.search {
  max-width: 90%;
  margin: 2em 1rem 3rem 1rem;
}

.searchBox {
  position: relative;
}

.searchActions {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  display: flex;
  gap: var(--fds-spacing-2);
}

.searchButton {
  font-size: medium;

  title + circle {
    display: none;
  }
}

.searchIcon {
  transform: scale(1.25);
  margin-right: 0.25rem;
}

.inputTextfield {
  position: relative;
  gap: 1rem;

  input {
    font-size: 1.25rem;
  }

  > label + div + div {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}


@media (min-width: 768px) {
  .search{
    margin-left: 0;
  }
}

