.label {
  color: var(--text-color-secondary);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  display: block;
  margin-bottom: 0.25rem;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.fieldWrapper dt {
  margin: 0;
  font-weight: 600;
}

.fieldWrapper dd {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}
