.filterHeader {
  background-color: var(--ds-color-surface-tinted);
}

.filterCard {
  padding: 0 0 1rem 0;
}

.checkbox {
  padding: 0 1rem;
}

.toggleFilter {
  background-color: var(--ds-color-surface-tinted);
  width: 100%;
  justify-content: flex-start;
}

.hidden {
  padding-bottom: 0;
}
