.snippet {
  width: 100%;
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}
