.searchPageWrapper {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: var(--medium-gap);
  background-color: var(--ssb-dark-color-5);
  -webkit-box-align: center;
  background-repeat: no-repeat;
  background-position: right top;
  justify-items: center;
  justify-content: space-between;
  gap: var(--medium-gap);
  transition: height 0.2s ease;
  min-height: 100vh;
}

.searchFieldContent {
  margin-top: var(--large-gap);
  overflow-x: hidden;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  margin-bottom: var(--ds-size-4);
  flex: 1;
  min-height: 55vh;
  background: linear-gradient(rgba(240, 248, 249, 0.7), rgba(240, 248, 249, 0.7)), url("/magnifying-glass-3.svg");
  background-position: right;
  background-size: 800px auto;
}

.mainSection {
  flex: 1 1 0;
}

.numHits {
  margin: 0;
  margin-left: 0.2rem;
}

.hitsAndSort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.hitsAndSort > p {
  align-self: flex-end;
  font-weight: 600;
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.ds-tabs {
  background: linear-gradient(rgba(240, 248, 249, 0.6), rgba(240, 248, 249, 0.6)), url("/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position: right;
}
@media (min-width: 768px) {
  .searchHitsContainerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--medium-gap);
    transition: height 0.2s ease;
  }

  #searchValue.ds-input {
    margin: 0;
    min-width: 80%;
  }

  .filterSection {
    flex: 0 0 20%;
    gap: var(--small-gap);
    max-width: 300px;
  }

  .mainSection {
    flex: 1 1 auto;
    min-width: 0;
  }
}
