.pageContainer {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  margin-bottom: var(--ds-size-4);
}

.mainSection {
  flex: 1 1 0;
}

.numHits {
  margin: 0;
  margin-left: 0.2rem;
  font-weight: 600;
  flex: 0 0 auto;
  white-space: nowrap;
}

.hitsAndSort {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  min-height: 2rem;
}

.hitsSortGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.hitsSortGroup > * {
  margin: 0;
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  width: 100%;
  padding-top: 19px;
  margin-bottom: 1rem;
}

.filterSection > :first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .hitsAndSort {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .searchHitsContainerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--medium-gap);
    transition: height 0.2s ease;
  }

  .filterSection {
    flex: 3 3 auto;
    gap: var(--small-gap);
    max-width: 300px;
  }

  .mainSection {
    flex: 6 6 auto;
    min-width: 0;
  }
}
