.searchPageWrapper {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: var(--medium-gap);
  background-color: var(--dark-blue-gray-color);
  -webkit-box-align: center;
  background-repeat: no-repeat;
  background-position: right top;
  justify-items: center;
  justify-content: space-between;
  gap: var(--medium-gap);
}

.searchFieldContent {
  margin-top: var(--large-gap);
  overflow-x: hidden;
}

.tabsNavigationContainer {
  width: 100%;
  overflow-x: hidden;
}

.tabs {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 0;
}

.tabsNavigation {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: relative;
  overflow: hidden;
  color: #e6eff8;
  width: fit-content;
  padding: 0.75rem 1.25rem;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  white-space: nowrap;
}

.tab[aria-selected="true"] {
  background-color: var(--light-light-blue-color);
  color: var(--main-font-color);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  margin-bottom: var(--ds-size-4);
}

.infoSection {
  min-height: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  flex: 0 0 100%;
}

.mainSection {
  min-height: 200px;
  margin-top: var(--medium-gap);
  flex: 1 1 0;
}

.searchLabel {
  color: white;
}

.numHits {
  margin: 0;
  margin-left: 0.2rem;
}

.hitsAndSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.hitsAndSort > p {
  align-self: flex-end;
  font-weight: 600;
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  width: 100%;
}

@media (min-width: 886px) {
  .searchHitsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--medium-gap);
    margin-top: 1rem;
  }

  .tabsNavigation {
    flex-direction: row;
  }

  /* Set variable*/
  .tab {
    margin: 0;
  }

  #searchValue.ds-input {
    margin: 0;
    min-width: 80%;
  }

  .filterSection {
    flex: 0.3 0.3 0;
  }
}

@media (min-width: 992px) {
  .tabsContent {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .tabsContent {
    margin: 0;
  }
}
